<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Concours</title>
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/contest.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/angular-route/angular-route.js"></script>
</head>
<body ng-app="ArtLike">
	<div ng-view></div>
	<div class="container-fluid">
		<div class="row contest-head">
			<h1 class="contest-name text-center">Concours Photo #1</h1>
			<div class="contest-infos col-xs-12 col-md-6 text-center">
				<h2>
					<span> 1,658 </span> participants
				</h2>
				<h2>
					<span> 500 € </span> de cagnotte
				</h2>
			</div>
			<div class="contest-subscribe col-xs-12 col-md-6 text-center">
				<button type="button" class="btn btn-default btn-blue btn-large"> Je Participe </button>
			</div>
		</div>
		<div class="contest-pics">
			<div class="row">
				<div class="picture-card col-xs-6 col-md-2 col-md-offset-2">
					<img src="../img/pic.jpeg">
					<div class="votes-bar">
						<span></span>
					</div>
					<div class="card-text">
						<p class="text-center">
							<a href="#">participant08</a> a 76% des votes !
						</p>
						<p class="text-center">
							<button type="button" class="btn btn-default btn-blue">Voter</button>
						</p>
					</div>
				</div>

				<div class="picture-card col-xs-6 col-md-2 col-md-offset-1">
					<img src="../img/pic.jpeg">
					<div class="votes-bar">
						<span></span>
					</div>
					<div class="card-text">
						<p class="text-center">
							<a href="#">participant08</a> a 76% des votes !
						</p>
						<p class="text-center">
							<button type="button" class="btn btn-default btn-blue">Voter</button>
						</p>
					</div>
				</div>

				<div class="picture-card col-xs-6 col-md-2 col-md-offset-1">
					<img src="../img/pic.jpeg">
					<div class="votes-bar">
						<span></span>
					</div>
					<div class="card-text">
						<p class="text-center">
							<a href="#">participant08</a> a 76% des votes !
						</p>
						<p class="text-center">
							<button type="button" class="btn btn-default btn-blue">Voter</button>
						</p>
					</div>
				</div>



			</div>
		</div>
	</div>
</body>
</html>